.color-palette {
    display: grid;
    grid-template-columns: repeat(5, 25px);
    grid-gap: 7px;
    grid-auto-rows: 25px;
    background: white;
    padding: 15px;
}

.color-swatch {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}