.listing-table {
    width: 100%;
    border: thin black solid;
    color: greenyellow;
}

.listing-table th {
    text-align: left;
    padding: 10px;
}

.listing-td-actions {
    width: 10%;
}

.listing-td-actions div {
    float: right;
    padding: 5px;
    cursor: pointer;
}