.loading-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background: white;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    font-size: 20px;
    font-weight: bold;
    height: 85px;
    padding: 10px;
    color: $grey-light;
}