.popup-overlay {
    position: absolute;
    background: rgba(255, 255, 255, .9);
    width: 100%;
    height: 100%;
}

.popup-show {
    display: inline-block;
}

.popup-hide {
    display: none;
}

.popup-form {
    margin: auto;
    width: 300px;
    background: white;
    border: thin solid black;
}

.popup-buttons {
    width: 100%;
}

.popup-btn-cancel, .popup-btn-save {
    border: thin solid black;
    width: 60px;
    padding: 5px;
}

.popup-btn-cancel {
    float: left;
}


.popup-btn-save {
    float: right;
}