$grey-lightest: rgb(245, 57, 83);
$grey-lighter: rgb(167, 167, 167);
$grey-light: rgb(124, 124, 124);
$grey-darker: rgb(97, 97, 97);
$grey-dark: rgb(61, 61, 61);
$grey-darkest: rgb(36, 36, 36);

$main-background-color: rgb(255, 255, 255);
$leftnav-background-color: rgba(0, 0, 0, .82);
$leftnav-item-color: rgb(182, 182, 182); 
$leftnav-active-item-background: $grey-light;

$task-row-icons-color: $grey-lighter;
$task-row-start-end-times-color: $grey-lighter;

$error: rgb(235, 82, 82);